* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  font: 18px/1.5em Helvetica,Arial, sans-serif;
  color: #313131;
}

.container {
  background: #edede1;
  width: 55em;
  margin: 0 auto;
}

section {
  width: 67.7083333333%;
  float: left;
}

aside {
  background: #d1d1c1;
  width: 31.25%;
  float: right;
}

footer {
  clear: both;
}